* {
    box-sizing: border-box;
}

.image{
    display:flex;
    height: 50px;
    width: 50px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.rating_container {
    
    display: flex;
    border: 1px solid white;
    background-color: #92a2a8;
    display: flex;
    width: 510px;
    margin-left: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.track_info_rating {
    display: flex;
    width: 400px;
}

.track_details {
    padding: 3px;
    margin: 0px;
    width: 350px;
}

.track_name {
    width: 400px;
    font-size: 1rem;
}

.album_name {
    font-size: 10px;
    width: 400px;
}

.rating {
    width: 50px;
    margin: 0px;
    text-align: center;
    align-self: center;
    font-size: 2.2rem;
    font-weight: bold;
    color:#282c34;
}
