body {
    background-color: #282c34;
}

/* navigation */

.home_header_container {
    z-index: 2;
    background-color: #282c34;
    position: fixed;
    width: 100%;
    height: 100px
}

.nav_container {
    margin-top: 40px;
    margin-left: 150px;
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.home_button_ {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    background-color: rgb(241, 112, 123);  
    border: 1px solid white; 
    text-decoration: none;
    font-size: 15px;
    color: white
}

.searchRate_button_ {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border: 1px solid white;
    text-decoration: none;
    font-size: 15px;
    color: white
}

.searchRate_button_:hover {
    border: 1px solid rgb(241, 112, 123);
    color: rgb(241, 112, 123)
}

.soulmates_button_ {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border: 1px solid white;
    text-decoration: none;
    font-size: 15px;
    color: white
}

.soulmates_button_:hover {
    border: 1px solid rgb(241, 112, 123);
    color: rgb(241, 112, 123) 
}

.ratings_container {
    z-index: 1;
    position: absolute;
    padding-top: 10px;
    margin-top: 100px;
    overflow: scroll;
}

.my_ratings_title {
    margin-left: 150px;
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 5px;
    width: 500px;
    text-align: center;
}
