* {
    box-sizing: border-box;
}

body {
    background-color: #282c34;
}

.searchRate_header_container {
    z-index: 2;    
    background-color: #282c34;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    position:fixed;
    justify-content: center;
    align-items: center;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.search_bar {
    height: 50px;
}

.my_ratings_button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    text-decoration: none;
    border: 1px solid white;
    font-size: 15px;
    color: white
}

.my_ratings_button:hover {
    border: 1px solid rgb(241, 112, 123);
    color: rgb(241, 112, 123)
}

.searchRate_button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    background-color: rgb(241, 112, 123);  
    border: 1px solid white;   
    text-decoration: none;
    font-size: 15px;
    color: white
}

.soulmates_button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border: 1px solid white;
    text-decoration: none;
    font-size: 15px;
    color: white
}

.soulmates_button:hover {
    border: 1px solid rgb(241, 112, 123);
    color: rgb(241, 112, 123) 
}

.tracks {
    z-index: 1;
    position: absolute;
    margin-top: 150px;
    width: 100vw;
    overflow: scroll;
    scroll-behavior: smooth;
}