.input_field {
    background-color: rgb(40, 44, 52, 0);
    text-align: left;
    font-size: 1rem;
    font-weight: normal;
    color: white;
    margin-bottom: 50px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    width:400px;
    height: 25px;
}

::placeholder{
    font-size: 1rem;
    color: lightgray;
    opacity: 0.3;
}