.search_bar_container {
}

.input_field {
    background-color: #282c34;
    text-align: left;
    font-size: 1.2rem;
    font-weight: normal;
    color: white;
    margin-left: 100px;
    margin-bottom: 50px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    width:310px;
}

::placeholder{
    font-size: 1rem;
    color: lightgray;
    opacity: 0.3;
}