img {
    display:flex;
    height: 120px;
    width: 120px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.track_container {
    border: 1px solid white;
    background-color: #484c55;
    display: flex;
    width: 500px;
    margin-left: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 17px -8px black
}

.track_info_rating {
    display: flex;
    flex-direction: column;
}

.track_details {
    display: flex;
    margin-top: 5px;
    margin-left: 15px;
    width: 350px;
    flex-direction: column;
    align-content: flex-end;
}

.track_name {
    margin:0;
    font-size: 1rem;
}

.album_name {
    margin: 0;
    font-size: 10px;
}

.track_rating {
    margin-top: 20px;
    margin-left: 15px;
    width: 350px;
    display: flex;
    flex-direction: column;
    height: 50px 
}

.rating_selector {
    margin-bottom: 10px;
    align-self: center;
    width: 200px;
}

.rate_button {
    margin-top: 5px;
    align-self: center;
    color: white;
    background-color: rgb(128, 195, 236);
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100px
}

button:hover {
    background-color: #1ed760;
}
