img {
    display:flex;
    height: 120px;
    width: 120px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.track_container {
    border: 1px solid white;
    background-color: #484c55;
    display: flex;
    width: 500px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 12px;
    border-radius: 10px;
    box-shadow: 10px 10px 17px -8px black

}

.track_info_rating {
    display: flex;
    flex-direction: column;
}

.track_album_rating {
    display: flex;
}

.track_details {
    display: flex;
    margin-top: 5px;
    margin-left: 15px;
    width: 350px;
    flex-direction: column;
    align-content: flex-end;
    margin-bottom: 0px;
}

.track_name {
    margin:0;
    font-size: 1rem;
    width: 350px;
}

.album_name {
    margin: 0;
    font-size: 10px;
    width: 350px;
}

.track_rating {
    margin-top: 10px;
    margin-left: 15px;
    width: 350px;
    display: flex;
    flex-direction: column;
    height: 50px;
}

.rating_selector {
    margin-bottom: 10px;
    align-self: center;
    width: 200px;
}

.rate_button {
    align-self: center;
    color: white;
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border:none;
    outline: none;
    width: 100px;
    background-color: rgb(156, 156, 156);
}

.rate_button:hover {
    cursor: pointer;
}